<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="indexer_report"
                   translate="label"
                   type="text"
                   sortOrder="1300"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>Indexer Report</label>
                <field id="cron_enable"
                       translate="label comment"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Enable Indexer History Log Cron</label>
                    <comment>Periodically collect indexer cron performance data? Collected daily by default.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
